@use 'sass:color';

@import "~bootstrap/scss/bootstrap";

$noteColorBlue : lightskyblue;
$noteColorPink : lightpink;
$noteColorOrange : orange;
$noteColorPurple : mediumpurple;
$noteColorYellow : #FFFF99;


%Note {
  padding: 20px;
  border-radius: 7px;
}

.NoteBlue {
  @extend %Note;
  background: $noteColorBlue;
  color: #000;
  border-color: $noteColorBlue;
}

.NotePink {
  @extend %Note;
  background: $noteColorPink;
  border-color: $noteColorPink;
  color: #000;
}

.NoteOrange {
  @extend %Note;
  background: $noteColorOrange;
  border-color: $noteColorOrange;
  color: #000;
}

.NotePurple {
  @extend %Note;
  background: $noteColorPurple;
  border-color: $noteColorPurple;
  color: #000;
}

.NoteYellow {
  @extend %Note;
  background: $noteColorYellow;
  border-color: $noteColorYellow;
  color: #000;
}

.colorAddYellow {
  min-width: 40px;
  min-height: 40px;
  background-color: $noteColorYellow;
}

.colorAddYellow:hover, .colorAddYellow:focus {
  background-color: lighten($noteColorYellow, 10);
}

.colorAddPink {
  min-width: 40px;
  min-height: 40px;
  background-color: $noteColorPink;
}

.colorAddPink:hover, .colorAddPink:focus  {
  background-color: lighten($noteColorPink, 10);
}

.colorAddBlue {
  min-width: 40px;
  min-height: 40px;
  background-color: $noteColorBlue;
}

.colorAddBlue:hover, .colorAddBlue:focus {
  background-color: lighten($noteColorBlue, 10);
}

.colorAddOrange, {
  min-width: 40px;
  min-height: 40px;
  background-color: $noteColorOrange;
}

.colorAddOrange:hover, .colorAddOrange:focus {
  background-color: lighten($noteColorOrange, 10);
}

.colorAddPurple,   {
  min-width: 40px;
  min-height: 40px;
  background-color: $noteColorPurple;
}


.colorAddPurple:hover, .colorAddPurple:focus {
  background-color: lighten($noteColorPurple, 10);
}